pandas
numpy
google-cloud-storage 
google-cloud 
scipy 
implicit 
gcsfs 
catboost 
keras 
mysql-connector 
statsmodels 
sklearn 
gcsfs 
tensorflow==1.15.2
papermill 
ipykernel 
jupyter
seaborn
pandas-profiling
matplotlib
joblib
